.constellation {
  background-color: #282828;
  font-size: 0;

  &__inner {
    position: relative;
    width: 1000px;
    height: 500px;
    padding: 40px;
  }

  &-item {
    position: absolute;
    color: #fff;

    //visibility: hidden;
    //
    //&.show {
    //  visibility: visible;
    //}

    &--1 {
      top: 100px;
      left: 500px;

      .building-link {
        top: 34px;
        left: 31px;
        width: 225px;
        height: 183px;
        transform: rotate(49deg) skewX(-10deg) skewY(-5deg);
      }

      .building-name {
        bottom: -40px;
        right: -170px;
      }
    }
    &--2 {
      top: 250px;
      left: 400px;

      .building-link {
        top: 13px;
        left: 2px;
        width: 103px;
        height: 105px;
        transform: rotate(49deg) skewX(-13deg) skewY(-8deg);
      }

      .building-name {
        bottom: -65px;
        right: -114px;
      }
    }
    &--3 {
      top: 250px;
      left: 100px;

      .building-link {
        top: 33px;
        left: -12px;
        width: 198px;
        height: 118px;
        transform: rotate(52deg) skewX(-10deg) skewY(-8deg);
      }

      .building-name {
        bottom: -65px;
        right: -114px;
      }
    }
    &--4 {
      top: 350px;
      left: 100px;

      .building-link {
        top: -15px;
        left: 54px;
        width: 113px;
        height: 194px;
        transform: rotate(49deg) skewX(-13deg) skewY(-8deg);
      }

      .building-name {
        bottom: -65px;
        right: -114px;
      }
    }
    &--5 {
      top: 150px;
      left: 200px;

      .building-link {
        top: -4px;
        left: -3px;
        width: 169px;
        height: 155px;
        transform: rotate(49deg) skewX(-13deg) skewY(-8deg);
      }

      .building-name {
        bottom: -65px;
        right: -114px;
      }
    }
    &--6 {
      top: 150px;
      left: 250px;

      .building-link {
        top: 7px;
        left: 8px;
        width: 155px;
        height: 150px;
        transform: rotate(49deg) skewX(-13deg) skewY(-8deg);
      }

      .building-name {
        bottom: -65px;
        right: -114px;
      }
    }
    &--7 {
      top: 100px;
      left: 300px;

      .building-link {
        top: 0;
        left: 56px;
        width: 109px;
        height: 132px;
        transform: rotate(49deg) skewX(-13deg) skewY(-8deg);

        &:after {
          position: absolute;
          top: 113px;
          left: 74px;
          display: block;
          content: '';
          width: 135px;
          height: 132px;
          border: 1px solid red;
        }
      }

      .building-name {
        bottom: -65px;
        right: -114px;
      }
    }
    &--8 {
      top: 100px;
      left: 300px;

      .building-link {
        top: -42px;
        left: 38px;
        width: 107px;
        height: 212px;
        transform: rotate(49deg) skewX(-13deg) skewY(-8deg);

      }

      .building-name {
        bottom: -65px;
        right: -114px;
      }
    }

    .building-link {
      position: absolute;
      display: block;
      border: 1px solid red;
    }

    .building-name {
      position: absolute;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}


@media screen and (max-width: em(767px, 16px)) {
  .constellation {

    &__inner {
      width: auto;
      height: 300px;
    }

    &-item {
      position: static;
      display: inline-block;
      vertical-align: bottom;

      width: 300px;

      &__inner {
        position: relative;
      }


      .building-link {

        transform: rotate(0deg) skewX(0deg) skewY(0deg);
      }

      .building-name {
        position: absolute;
        height: 56px;

        bottom: -65px;
        left: 0;
      }
    }
  }
}
