[class^="icon-"], [class*=" icon-"], .slick-arrow, .select2-selection__arrow, .lg-prev, .lg-next {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next {
  &:before {
    content: "\e906";
  }
}
.slick-prev {
  &:before {
    content: "\e905";
  }
}
.select2-selection__arrow {
  &:before {
    content: "\e907";
  }
}

.lg-actions .lg-prev:after {
  content: "\e905";
}
.lg-actions .lg-next:before {
  content: "\e906";
}

.icon-zoomout:before {
  content: "\e900";
}
.icon-zoom:before {
  content: "\e901";
}
.icon-status-ok:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-share:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e906";
}
.icon-arrow-down:before {
  content: "\e907";
}
.icon-thumbup:before {
  content: "\e908";
}
.icon-thumbdown:before {
  content: "\e909";
}
.icon-ta:before {
  content: "\e90a";
}
.icon-ok:before {
  content: "\e90b";
}
.icon-vk:before {
  content: "\e90c";
}
.icon-tg:before {
  content: "\e90d";
}
.icon-inst:before {
  content: "\e90e";
}
.icon-yb:before {
  content: "\e90f";
}
.icon-tw:before {
  content: "\e910";
}
.icon-fb:before {
  content: "\e911";
}
.icon-play:before {
  content: "\e912";
}
.icon-wr:before {
  content: "\e913";
}

