
//от 1024 до 1279
@media screen and (max-width: em(1279px, 16px)) {
  .header {
    &__notifications {
      padding: 0 44px;
      &__inner {
        height: calculateRem(40px);
        max-height: calculateRem(40px);
        line-height: calculateRem(40px);
      }
    }
    &__controls {
      padding-right: 44px;
      padding-left: 88px;
    }
    &__menu {
      max-width: 848px;
    }
    .main-menu-under {
      .dropdown {
        line-height: 167%;
        @include fontSize(24px);
      }
    }
  }

  .footer {
    &__inner {
      padding-right: 44px;
      padding-left: 44px;
    }
  }

  .main-slider .slick-slide {
    width: 848px;
    height: 523.95px;
  }

  .main-slider-info {
    width: 848px;
  }

  .section--4-column {
    .section__inner {
      //padding-left: 44px;
      //padding-right: 44px;
    }
  }
  .padding {
    padding-left: 44px;
    padding-right: 44px;
  }


  .section--ratio {

    .section__inner {
      padding-left: 44px;
      padding-right: 44px;
    }
  }
  .block-buildings {
    padding: 0;

    .column-wrap {
      width: 1148px;
    }
    .column {
      width: 286px;
      padding: 0 12px;
    }
    .scroller-wrap {
      overflow: hidden;
    }
    .scroller {
      display: block;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      margin-bottom: -30px;
      padding-bottom: 30px;
      -webkit-overflow-scrolling: touch;

      padding-left: 44px;
    }
  }

  .section--shop {
    .section__inner {
      padding-left: 36px;
      padding-right: 36px;
    }
    &__wrapper {
      &__item {
        width: 33.333%;
      }
    }
    .item--shop {
      &:last-child {
        display: none;
      }
    }
  }
  .grid--4-columns {
    .grid-item, .grid-sizer {
      width: 33.3333%;
    }
  }

  .columns-2-section {

    &__inner {
      &__left {
        width: 70%;
      }

      &__right {
        width: 30%;
      }
    }
  }
  .section--partners {

    .column-wrap {
      .column {
        width: 33.33333%;
      }
    }
  }
  .full-page-background {
    &__title {
      left: 44px;
    }
  }

  .plan-floor {
    flex-wrap: wrap;

    &__halls, &__links {
      width: 100%;
    }
    &__halls {
      padding-right: 0;
    }
    &__links {
      padding-left: 0;
    }
  }


  .map-links {

    ul {
      columns: 3 260px;
    }
  }

  .col-8 {
    width: 80%;
  }
}

//от 760 до 1023 для ипад меню
@media screen and (max-width: em(1024px, 16px)) and (min-width: em(760px, 16px)) {
  .menu-mobile {
    right: 0;
    left: auto;
    width: 50%;
    transform: translateX(100%);

    &.opened {
      transform: translateX(0);
    }
  }
  .menu-mobile {
    &__inner {
      .logo {
        min-height: 124px;
        img {
          display: none;
        }
      }
    }
    &__copyright {
      position: absolute;
      bottom: 0;
    }
  }
}


//от 0 до 1023
@media screen and (max-width: em(1023px, 16px)) {
  .header {
    &__notifications {
      padding: 0 24px;
    }
    &__controls {
      padding-right: 24px;
      padding-left: 24px;
      margin-bottom: 48px;
    }
    &__menu {
      display: none;
    }
  }
  .logo {
    &--mobile {
      display: block;
    }
    &--desktop {
      display: none;
    }
  }
  .main-controls-section {
    display: none;
  }
  .main-menu-burger {
    display: block;
  }

  .footer {
    &__inner {
      padding-top: 40px;
      padding-right: 24px;
      padding-left: 24px;

      &__bottom {
        padding-top: 37.4px;

        .copyright, .rules {
          width: 100%;
        }
      }
      &__list {
        li {
          margin-bottom: 20px;
          line-height: 147%;
        }
      }
    }
    .social-buttons {
      li {

        &:nth-child(4n) {
          margin-right: 0;
        }

        .icon {
          @include fontSize(48px);
        }
      }
    }
  }

  .column-3-container {
    display: flex;
    width: 100%;
    .column {
      width: 100%;
    }
  }

  .push-down {
    order: 1;
  }
  .column--social {
    margin-top: 77.5px;
  }


  .main-slider {

    .slick-slide {
      .desc {
        top: 24px;
        padding-left: 24px;
        padding-right: 24px;

        &__name {
          @include fontSize(38px);
          line-height: 105%;
        }


        &__date,
        &__place {
          @include fontSize(19px);
          line-height: 147%;
        }
      }
    }
  }
  .main-slider-info {
    width: 100%;
    text-align: center;
  }
  .main-slider-info--title {
    //display: none;
    box-sizing: border-box;
    padding: 0 24px;
    text-align: left;
  }
  .section {

    &__header {
      h2 {
        margin-bottom: 23px;
        @include fontSize(34px);
        line-height: 100%;
      }

      &__controls {
        margin-bottom: 30px;
      }
    }

    &__description {
      margin-bottom: 44px;
      margin-top: 5px;
      .btn--more-text {
        margin-top: 16px;
      }
      p {
        text-align: left;
      }
    }
  }

  .section--4-column {
    .section__inner {
      //padding-left: 24px;
      //padding-right: 24px;
    }
    .column-wrap {
      display: block;
    }
    .column {
      width: 100%;
      margin: 0;
    }
  }
  .padding {
    padding-left: 24px;
    padding-right: 24px;
  }
  /*----- accordion Section Content -----*/
  .accordion-content {

    //display: none;
  }
  .section--afisha {
    .section__header {
      h2 {
        margin-bottom: 39px;
      }

      &__controls {
        display: none;
      }

    }
    .section__inner {
      .show-all {
        display: none;
      }
    }
  }
  .section--with-filters {
    &__filter {
      &.opened {
        margin-bottom: 0;
      }
      &__categories {
        margin-bottom: 48px;
      }
    }
  }
  .afisha-page {
    .section--afisha {
      .section__header {
        &__controls {
          display: block;
        }
      }
    }
  }

  .section--collection {
    .accordion-title {
      margin: 11.3px 0;
      //@include fontSize(19px);
      //color: $greyish-brown-two;
    }
    .accordion-content {
      //font-weight: 500;
      //line-height: 131%;
      //color: $warm-grey-two;

      p {
        margin-bottom: 1rem !important;
      }
    }
    .btn-wrap {
      margin-top: 32px;
      .btn {
        margin-bottom: 15px;
      }
    }
    .btn--more {
      margin-top: 48px;
    }
  }

  .item-styles {
    &__header {
      @include fontSize(19px);
      color: $greyish-brown-two;
    }

    &__content {
      padding-bottom: 5px;
      line-height: 131%;
      color: $warm-grey-two;

      p {
        margin-bottom: 1rem;
      }
    }
  }

  .controls-spec {
    display: none;
  }

  .scroller {
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: -30px;
    padding-bottom: 30px;
    -webkit-overflow-scrolling: touch;

    &-wrap {
      overflow: hidden;
    }

    &--p {
      padding-left: 24px;
      padding-right: 24px;
    }
    .item--card {
      margin-right: 4px;
      margin-left: 0;

      &:first-child {
        margin-left: 24px;
      }

      &:last-child {
        margin-right: 24px;
      }
    }
  }


  .null-width, .full-width {

    //нужно сбросить js установку ширины
    width: auto !important;
    position: static;
    opacity: 1;
    z-index: 1;
  }


  .item--card {


    .desc {
      color: $greyish-brown-two;
      &__type {
        @include fontSize(14px);
      }
      p {
        @include fontSize(19px);
        line-height: 147%;
      }
    }

    .btn-centered {
      display: none;
    }
  }



  .section--ratio {

    .section__inner {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .block-buildings {
    .scroller {
      padding-left: 24px;
    }
    .column-wrap {
      width: auto;
      display: block;
    }
    .column {
      display: inline-block;
      vertical-align: top;
      margin-bottom: 0;
    }
    .btn--more {
      display: none;
    }
  }
  .section {

    &--afisha {
      margin-bottom: 89px;
    }
    &--media {
      margin-bottom: 78px;
    }
    &--museum {
      margin-bottom: 79px;
    }
    &--visitors {
      margin-bottom: 97px;
    }
    &--friends {
      margin-bottom: 111px;
    }
    &--shop {
      margin-bottom: 88px;
    }
    &--extra {
      margin-bottom: 78px;
      h2 {
        margin-bottom: 42px;
      }
    }
    &--collection {
      margin-bottom: 72px;
    }
    &--collections-filters {
      margin-bottom: 72px;
    }
    &--info {
      margin-bottom: 67px;
    }
    &--with-filters {
      margin-bottom: 69px;
    }
    &--news {
      margin-bottom: 80px;
    }
    &--quarter {
      margin-bottom: 80px;
    }
    &--exposition {
      margin-bottom: 80px;
    }
  }
  .typical-accordion {
    .accordion-control {
      margin-bottom: 20px;
      @include fontSize(19px);
      line-height: 147%;
      color: $greyish-brown-two;
    }
  }
  .section--shop {
    .section__header {
      h2 {
        margin-bottom: 45px;
      }
    }
    .section__inner {
      padding-left: 0;
      padding-right: 0;

    }
    .item--shop {
      width: 272px;

      &:first-child {
        margin-left: 24px;
      }

      &:last-child {
        display: inline-block;
        margin-right: 24px;
      }
    }
    .btn {
      margin-top: 48px;
    }
  }
  .item--shop {
    .desc {
      color: $greyish-brown-two;

      &__type {
        span {
          border-bottom: solid 1px $greyish-brown-two;
        }
      }
      .btn {
        margin-top: 25px;
      }
    }
  }
  .main-menu-under {
    display: none;
  }
  .section--afisha {
    .section--with-filters__filter__inner {
      display: none;
    }
  }
  .section--with-filters {

    &__filter {

      &__categories {
        ul {
          display: none;
        }
        .select {
          display: block;
        }
      }
    }
  }
  .section--with-filters__filter {
    overflow: hidden;
  }
  .section--with-filters__filter__inner {
    margin-top: 0 !important;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: -30px;
    padding-bottom: 30px;
    -webkit-overflow-scrolling: touch;

    .select {
      display: inline-block;
      width: 210px;
      margin: 0;

      &:first-child {
        margin-left: 24px;
      }

      &:last-child {
        margin-right: 24px;
      }
    }

  }
  .columns-2-section {
    margin-bottom: 80px;

    &__inner {
      &__left {
        width: 100%;
      }

      &__right {
        display: none;
      }
    }
    h1 {
      @include fontSize(38px);
      line-height: 105%;
      margin-bottom: 15px;
    }
    .video-container {
      display: none;
    }
  }
  .mobile--view {
    display: block;

    .item--shop {
      margin-top: 0;
    }
  }
  .section--gallery {
    //display: none;
  }
  .text-additional {
    display: none;
  }

  .section--partners {
    margin-bottom: 40px;
    .column-wrap {
      background-color: transparent;
      white-space: nowrap;
      display: block;
      padding-left: 0;
      padding-right: 0;
      .column {
        width: 230px;
        display: inline-block;
        vertical-align: top;
        padding: 0;

        &:first-child {
          margin-left: 24px;
        }
        &:last-child {
          margin-right: 24px;
        }
      }
    }
    .padding {
      padding: 0;
    }
  }
  .section--grid {
    margin-bottom: 81px;

    h2 {
      margin-bottom: 42px;
    }

    &__wrapper {
      margin: 0 -4px;
      display: block;
      font-size: 0;
    }
    .scroller {
      .grid-item {
        width: 272px;
        white-space: normal;
        display: inline-block;
        vertical-align: top;

        &:nth-child(2) {
          margin-left: 24px;
        }
        &:last-child {
          margin-right: 24px;
        }
      }
      .item {
        margin: 0 4px;
      }
    }
    .padding {
      padding: 0;
    }
    .btn--more {
      display: none;
    }
  }
  .section__header {
    h2 {
      padding: 0 24px;
    }

  }

  .page-404 {
    h1 {
      color: inherit;
      @include fontSize(34px);
      font-weight: 500;
      line-height: 118%;
    }
    .btn--go-back {
      margin-top: 25px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .full-page-background {
    justify-content: flex-start;


    &__inner {
      margin-bottom: 70px;
      text-align: left;
    }
    &__title {
      padding-right: 24px;
      bottom: 27px;
      left: 24px;
    }
  }
  .section--collections {
    //margin-bottom: 72px;

    .grid-item {
      width: 100%;
    }
    .item--card {

      margin-bottom: 20px;
      background-color: transparent;
      border: none;

      img {
        display: none;
      }

      &.active {
        .section--collections__name {
          color: $violet-blue;
        }
      }
    }
    &__name {
      padding: 0;
      @include fontSize(19px);
      line-height: 147%;
      color: $greyish-brown-two;
    }


  }
  .collections__common-text {
    margin-bottom: 72px;
    p {
      @include fontSize(14px);
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .filters-alphabet-wrap {
    display: block;
    margin-top: 24px;
    a {
      @include fontSize(34px);
      letter-spacing: 9px;

      &:last-child {
        margin-right: 24px;
      }
    }
  }
  .items-list {
    line-height: 1.64;
  }
  .item--card--bigger {
    .desc {
      p {
        @include fontSize(28px);
        line-height: 104%;
      }
    }
  }
  .select2-container--default .select2-selection__rendered .select2-selection__placeholder {
    text-transform: none;
    font-size: 16px;
  }

  .col-8 {
    width: 100%;
  }
  .section--news {
    .btn {
      margin-top: 48px;
    }
  }

  .accordion--mobile ul{
    display: none;
  }

  .section--programs {
    margin: 0;
  }

  .program-block {
    margin-left: 0;
    margin-right: 0;
    max-width: 272px;
  }

  .map-links {

    ul {
      width: 830px;
      margin-left: 24px;
    }
  }
  .search--section {
    .section {
      margin-top: 0;
      margin-bottom: 77px;

      &__header {
        h2 {
          text-align: left;
          span {
            display: block;
          }
        }
      }
    }
    .btn--more {
      margin-top: 43px;
    }
  }
}

//тут ховеры для > 1024
@media screen and (min-width: em(1024px, 16px)) {
  .item--card {
    .grayscale-filter {
      filter: grayscale(100%);
    }
    &:hover, &.active {
      .grayscale-filter {
        transition: $transition;
        filter: grayscale(0);
      }
      .desc {
        color: $greyish-brown-two;
        transition: $transition;

        &__type {
          color: $violet-blue;

          span {
            border-bottom: solid 1px $violet-blue;
            transition: $transition;
          }
        }
        &__place {

          span {
            border-bottom: solid 1px rgba(38, 38, 38, 0.8);
          }
        }
        &__link {
          color: $violet-blue;

          span {
            border-bottom: solid 1px $violet-blue;
            transition: $transition;
          }
        }
        .btn {
          transition: $transition;
          background-color: $pale-grey;
        }
      }
      .section--collections__name {
        color: $violet-blue;
        transition: $transition;
      }
      &.hover-white {
        background-color: #fff;
        transition: $transition;
      }
    }
  }
  .item--bordered {
    &:hover, &.active {
      border: 2px solid $violet-blue;
      transition: border .2s ease;
    }
  }
  .typical-accordion {
    .accordion-control {
      &:hover {
        color: $greyish-brown;
        transition: $transition;

        span {
          border-bottom: 1px solid $greyish-brown;
        }
      }
    }
  }
  .item--shop {

    &:hover {
      .desc {
        color: $warm-grey;

        &__type {
          color: $violet-blue;
          transition: $transition;

          span {
            border-bottom: solid 1px $violet-blue;
          }
        }
        .btn {
          background-color: $pale-grey;
          color: $pinkish-grey;
        }
      }
    }
  }
  .section--grid {
    .item:hover {
      background-color: #fff;
      transition: $transition;
    }
  }
  .menu-mobile {
    display: none;
  }



}



//от 0 до 848 для слайдера на главном экране
@media screen and (max-width: em(848px, 16px)) {
  .main-slider .slick-slide {
    height: auto;
    width: auto;
  }
}


//от 0 до 580
@media screen and (max-width: em(580px, 16px)) {
  .lg-outer {
    .lg-image {
      height: 100% !important;
      max-width: none !important;
    }
    .lg-img-wrap {
      padding: 0;
      overflow: scroll;
    }
    .lg-pager-thumb-cont {
      display: none;
    }
    .lg-pager-outer {
      display: block;
    }
    .lg-sub-html {
      margin: 0 16px;
    }
  }
  .lg-actions {
    .lg-next, .lg-prev {
      display: none;
    }
  }
  .lg-toolbar {
    .lg-close {
      &:after, &:before {
        background-color: #fff;
      }
    }
  }
  .lg-inner {
    position: relative;
    &:after, &:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 106px;
      z-index: 1070;
      transition: $transition;
    }
    &:after{
      top: 0;
      background-image: linear-gradient(to top, rgba(38, 38, 38, 0.0), $black);
    }
    &:before {
      bottom: 0;
      background-image: linear-gradient(to bottom, rgba(38, 38, 38, 0.0), $black);
    }
  }
}

//от 0 до 480
@media screen and (max-width: em(480px, 16px)) {
  .grid--4-columns, .grid--3-columns  {
    .grid-item, .grid-sizer {
      width: 100%;
    }
  }
}

