<footer class="footer bg-black color-warm-grey">
    <div class="wrapper section--limited">
        <div class="footer__inner">
            <div class="footer__inner__top column-3-container">
                <div class="column">
                    <ul class="footer__inner__list">
                        <li><a href="" class="" title="Адреса и часы работы">адреса и часы работы</a></li>
                        <li><a href="" class="" title="Льготные категории">льготные категории</a></li>
                        <li><a href="" class="" title="Cтоимость билетов">стоимость билетов</a></li>
                    </ul>
                </div>
                <div class="column column--social push-down">
                    <ul class="footer__inner__list">
                        <li>музей в соцсетях</li>
                    </ul>
                    <ul class="social-buttons">
                        <li><a href="" class="" title=""><span class="icon icon-fb"></span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-tw"></span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-yb"></span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-inst"></span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-tg"></span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-vk"></span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-ok"></span></a></li>
                        <li><a href="" class="" title=""><span class="icon icon-ta"></span></a></li>
                    </ul>
                </div>
                <div class="column">
                    <ul class="footer__inner__list">
                        <li><a href="" class="" title="Подписаться на новости">подписаться на новости</a></li>
                        <li><a href="" class="" title="Сделать пожертвование">сделать пожертвование</a></li>
                        <li><a href="" class="" title="Оценить работу музея">оценить работу музея</a></li>
                    </ul>
                    <div class="quality-estimation">
                        <a class="" href="" title="Так держать"><span class="icon icon-thumbup"></span></a>
                        <a class="" href="" title="Так себе"><span class="icon icon-thumbdown"></span></a>
                    </div>
                </div>
            </div>
            <div class="footer__inner__middle">
                <a class="" href="index.html" title="Государственный музей изобразительных искусств имени А. С. Пушкина">
                    <img class="logo--desktop" width="313" height="48" src="images/svg/logo_gmii_footer.svg" alt="Государственный музей изобразительных искусств имени А. С. Пушкина">
                    <img class="logo--mobile" width="153" height="99" src="images/svg/logo_gmii_footer_mobile.svg" alt="Государственный музей изобразительных искусств имени А. С. Пушкина">
                </a>
            </div>
            <div class="footer__inner__bottom">
                <div class="copyright">© 2009–2017 Государственный музей изобразительных искусств им. А.С. Пушкина </div>
                <a class="rules" href="" title="Правила использования материалов и изображений">Правила использования материалов и изображений</a>
            </div>
        </div>
    </div>
</footer>
    