<header class="header">
    <div class="header__notifications bg-violet-blue">
        <div class="wrapper">
            <div class="header__notifications__inner">
                <ul>
                    <li><a class="color-pale-grey" href="" title="ОТМЕНА ЛЕКЦИИ КАПРИЧОС">ОТМЕНА ЛЕКЦИИ КАПРИЧОС.</a></li>
                    <li><a class="color-pale-grey" href="" title="ГОЙЯ И ДАЛИ 26 ЯНВАРЯ">ГОЙЯ И ДАЛИ 26 ЯНВАРЯ.</a></li>
                    <li><a class="color-pale-grey" href="" title="ГАЛЕРЕЯ СТАРЫХ МАСТЕРОВ">ГАЛЕРЕЯ СТАРЫХ МАСТЕРОВ.</a></li>
                    <li><a class="color-pale-grey" href="" title="ЗАЛ 298">ЗАЛ 298.</a></li>
                </ul>
                <span class="header__notifications-close bg-pale-grey close js-notifs-close"></span>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="header__controls">
            <div class="main-logo">
                <a class="" href="" title="Государственный музей изобразительных искусств имени А. С. Пушкина"><img class="" width="312" height="66" src="/images/svg/logo_gmii.svg" alt="Государственный музей изобразительных искусств имени А. С. Пушкина"></a>
            </div>
            <div class="main-controls">
                <div class="main-controls-section search-wrap">
                    <button class="color-black js-call-search" title="Поиск">
                        <span class="icon icon-search"><span>поиск</span></span>
                    </button>
                    <div class="main-controls-section-block search-block bg-pale-grey">
                        <form class="">
                            <input type="text">
                            <button type="submit"><span class="icon icon-search"><span>найти</span></span></button>
                        </form>
                    </div>
                </div>
                <div class="main-controls-section notifications-wrap">
                    <button class="color-black" title="Уведомления">
                        <span class="button-text">Внимание</span>
                        <span class="notifications-badge bg-violet-blue color-pale-grey">1</span>
                    </button>
                </div>
                <div class="main-controls-section settings-wrap">
                    <button class="color-black" title="Настройки отображения сайта">
                        <span class="button-text">Aa</span>
                    </button>
                </div>
                <div class="main-controls-section language-wrap">
                    <button class="color-black" title="Выбор языка">
                        <span class="button-text">ENG</span>
                        <span class="icon icon-arrow-down"><span>список</span></span>
                    </button>
                </div>
                <div class="main-controls-section share-wrap">
                    <button class="color-black" title="Поделиться в соц сетях">
                        <span class="icon icon-share"><span>поделиться</span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__menu">
            <nav class="main-navigation greyish-brown" role="navigation">
                <ul>
                    <li><a class="hover" href=""  title="">Музей</a></li>
                    <li><a class="hover" href=""  title="">Афиша</a></li>
                    <li><a class="hover" href=""  title="">Коллекции</a></li>
                    <li><a class="hover" href=""  title="">Медиа</a></li>
                    <li><a class="hover" href=""  title="">Образование</a></li>
                    <li><a class="hover" href=""  title="">Магазин</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>