@import "helpers/variables";
@import "helpers/functions";
@import "helpers/mixins";
@import "helpers/placeholders";


@import "partials/fonts";
@import "partials/header";
@import "partials/footer";


@include fontFace('GMText','../fonts/GMTextItalic', 400, italic);
@include fontFace('GMText','../fonts/GMTextRegular', 400);
@include fontFace('GMText','../fonts/GMTextBold', 600);

@include fontFace('GMTypewriter','../fonts/GMTypewriterLight', 300);
@include fontFace('GMTypewriter','../fonts/GMTypewriterRegular', 400);
@include fontFace('GMTypewriter','../fonts/GMTypewriterMedium', 500);

@include fontFace('icomoon','../fonts/icomoon', 400);

html {
  font-size: 100%;
  font-family: 'GMTypewriter', Arial, sans-serif;
}

body {
  min-width: 320px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
.font-gmtext {
  font-family: 'GMText', Arial, sans-serif;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button,
a,
input {
  outline-width: 0;
}
button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-size: inherit;
  cursor: pointer;
  font-family: 'GMTypewriter', Arial, sans-serif;
}
.icon {
  span {
    font-size: 0;
  }
}

.close, .lg-close {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    &::before, &::after {

    }
  }
  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &--white {
    &::before, &::after {
      background: $pale-grey;
    }
  }
  &--black {
    &::before, &::after {
      background: $black;
      opacity: .6;
    }
  }
}
.btn-centered {
  text-align: center;
}

.description--item, .underline-text {
  margin-bottom: 11px;
  display: inline-block;
  @include fontSize(14px);
  font-weight: 500;
  letter-spacing: -0.1px;
  transition: $transition;

  &.color-pale-grey {
    span {
      border-bottom: solid 1px $pale-grey;
    }
  }

  span {
    border-bottom: solid 1px $warm-grey-two;
    display: inline;
    padding-bottom: 2px;
    text-transform: uppercase;
  }

  .icon {
    display: none;
    margin-left: 10px;
    border-bottom: none;
    @include fontSize(10px);
    padding-bottom: 0;

    &.show {
      display: inline-block;
    }
  }
  .icon-arrow-down {
    transform: rotate(180deg);
  }

  &.no-underline {
    span {
      border-bottom: none;
    }
  }
}

.underline-text-normal {
  display: inline-block;
  @include fontSize(14px);
  font-weight: 500;
  letter-spacing: -0.1px;
  transition: $transition;

  span {
    border-bottom: solid 1px #979797;
    display: inline;
    padding-bottom: 1px;
  }

  &:hover {
    color: $violet-blue;
    span {
      border-bottom: solid 1px $violet-blue;
    }
  }
}

.btn {
  display: inline-block;
  padding: 12px 15px;
  border-radius: 2px;
  text-transform: uppercase;
  @include fontSize(19px);
  line-height: calculateRem(24px);
  transition: $transition;

  &--np {
    padding-left: 0;
  }

  &--border {
    border: solid 1px rgba(38, 38, 38, 0.8);
  }
  &--go-back {
    padding-left: 50px;
    padding-right: 50px;
  }

  &--small {
    padding-top: 6px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    @include fontSize(16px);
    line-height: calculateRem(18px);
    font-weight: 500;
    letter-spacing: 1.1px;
    background-color: #fff;
    transition: $transition;

  }

  &--unavailable {
    background-color: $white-two;
    cursor: not-allowed;
  }
  &--more-text {
    font-family: 'GMTypewriter', Arial, sans-serif;
    @include fontSize(12px);
    font-weight: 500;
    color: #939393;
    cursor: pointer;

    span {
      padding-bottom: 4px;
      border-color: #939393;
    }
  }
}

.burger {
  position: relative;
  display: block;
  width: 32px;
  height: 2px;
  vertical-align: middle;
  background-color: #a4a4a5;
  transition: $transition;

  &:before, &:after {
    position: absolute;
    width: 32px;
    height: 2px;
    content: '';
    background-color: #a4a4a5;
    transition: $transition;
    pointer-events: auto;
  }

  &:before {
    //top: 8px;
    //left: 0;
    transform: translate(0, 8px);
  }
  &:after {
    //top: -8px;
    //left: 0;
    transform: translate(0, -8px);
  }
}
.main-menu-burger {
  display: none;
  width: 32px;
  height: 23px;
  padding-top: 8px;
  cursor: pointer;
  z-index: 30;

  .notifications-badge {
    position: absolute;
    top: calculateRem(-8px);
    right: calculateRem(-8px);
    width: calculateRem(16px);
    height: calculateRem(16px);
  }

  &.active {
    position: fixed;
    right: 24px;

    .notifications-badge {
     opacity: 0;
    }
    .burger {
      background: transparent;

      &:before, &:after {
        transform: translate(0, 0);
      }
      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }
  }

}

.hover {
  &:hover {
    color: $violet-blue;
  }
}
.hover--inversion {
  &:hover {
    color: $pale-grey;
  }
}

.color-greyish-brown {
  color: $greyish-brown;
}
.color-warm-grey-two {
  color: $warm-grey-two;
}
.color-warm-grey {
  color: $warm-grey;
}
.color-greyish-brown-two {
  color: $greyish-brown-two;
}
.color-black {
  color: $black;
}
.color-pale-grey {
  color: $pale-grey;
}
.color-violet-blue {
  color: $violet-blue;
}
.color-greyish {
  color: $greyish;
}
.color-white-two {
  color: $white-two;
}
.color-pinkish-grey {
  color: $pinkish-grey;
}

.bg-violet-blue {
  background-color: $violet-blue;
}
.bg-primary {
  background-color: $pale-grey;
}
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: $black;
}
.bg-white-two {
  background-color: $white-two;
}
.bg-white-three {
  background-color: $white-three;
}
.bg-warm-grey-two {
  background-color: $warm-grey-two;
}

//$black: #262626;
//$warm-grey-two: #929292;
//$violet-blue: #5100d3;
//$greyish-brown: #3c3c3c;
//$brownish-grey: #676767;
//$greyish-brown-two: #515151;
//$warm-grey: #7d7d7d;
//$greyish: #a8a8a8;
//$white-two: #e9e9e9;
//$white: #d4d4d4;
//$pale-grey: #f9f9fb;
//$white-three: #f0f0f0;
//$pinkish-grey: #bebebe;
//$white-four: #f4f4f4;
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.wrapper {
  @include push--auto;
  @include clearfix;
}
.push-auto {
  @include push--auto;
}
.header__notifications__inner {
  @include clearfix;
}
.header {
  position: relative;

  &__notifications {
    padding: 0 72px;
    @include fontSize(18px);
    font-weight: 300;


    &__inner {
      position: relative;
      height: calculateRem(32px);
      max-height: 100%;
      line-height: calculateRem(32px);
      overflow: hidden;
      transition: $transition;
      &.closed, &.hidden {
        max-height: 0;
        transition: $transition;
      }


    }
    ul {
      position: absolute;
      left: 0;
      display: flex;
      white-space: nowrap;
      li {
        margin-right: calculateRem(12px);
      }
    }
    &-close-wrap {
      position: absolute;
      right: 0;
      width: 56px;
      background-image: linear-gradient(to right, rgba(81, 0, 211, 0.0), $violet-blue);
    }
    &-close {
      top: 4px;
      margin-left: 39px;
    }


  }
  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    padding-top: 32px;
    padding-right: 72px;
    padding-left: 144px;
  }
  &__menu {
    max-width: 984px;
    @include push--auto;
    margin-bottom: 25px;

  }

  .main-menu-under {
    //display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    padding-top: 14px;
    padding-bottom: 20px;
    background-color: rgba(81, 81, 81, 0.8);
    z-index: -1;
    //opacity: 0;
    visibility: hidden;

    &.visible {
      z-index: 1;
      //opacity: 0;
      visibility: visible;
    }
    .dropdown {
      position: absolute;
      visibility: hidden;
      padding-top: 14px;
      padding-bottom: 20px;
      @include fontSize(16px);
      font-weight: 500;
      top: 0;
      z-index: -1;
      line-height: 175%;
      color: $warm-grey-two;

      a {
        transition: color .2s ease;

        span {
          border-bottom: solid 1px transparent;
          display: inline;
          padding-bottom: 4px;
        }
        &:hover {
          color: $pale-grey;
          transition: color .2s ease;

          span {
            border-bottom: solid 1px $pale-grey;
            display: inline;
            padding-bottom: 4px;
          }
        }
      }

      &--inner {
        position: absolute;
        top: 14px;
        left: 100%;
        min-width: 350px;
        padding-left: 72px;
        z-index: -1;
        visibility: hidden;

        &.visible {
          z-index: 100;
          //opacity: 0;
          visibility: visible;
        }
      }


      &.visible {
        z-index: 99;
        //opacity: 0;
        visibility: visible;
      }
    }
  }
}
.main-navigation {

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    .hover {
      @include fontSize(18px);
      text-transform: uppercase;
    }
    .active {
      color: $violet-blue;
    }
  }

}
.main-controls {
  position: relative;
  display: flex;
  height: calculateRem(32px);
  line-height: 131%;

  &__button {
    display: flex;
    align-items: center;
    font-family: 'GMTypewriter', Arial, sans-serif;
    @include fontSize(16px);
    line-height: calculateRem(32px);

    .icon {
      align-self: center;
      @include fontSize(12px);
      opacity: .6;
    }
    .icon-search {
      @include fontSize(20px);
    }
    .icon-arrow-down {
      margin-left: calculateRem(8px);
    }
    .notifications-badge {
      align-self: center;
      width: calculateRem(15px);
      height: calculateRem(15px);
      margin-left: calculateRem(8.5px);
    }

    &.active {
      z-index: 2;
      .button-text,
      .icon {
        opacity: 1;
      }
      .icon-arrow-down {
        transform: rotate(180deg);
      }
    }
  }
  &-section {
    position: relative;
    display: flex;
    margin-right: calculateRem(23px);

    &:last-child {
      margin-right: 0;
    }
  }
  .button-text {
    opacity: .6;
  }

  &--mobile {
    position: fixed;
    bottom: 19px;
    right: 24px;
    flex-direction: column;
    height: auto;

    .main-controls-section {
      margin-right: 0;
      display: table;
      text-align: center;
      width: 100%;
    }
    .main-controls__button {
      display: table-cell;
      line-height: 250%;
      vertical-align: middle;
      width: 100%;
    }
    .search-wrap {
      button {
        padding-top: 4px;
      }
    }
    button {
      &.active {
        color: #fff;
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: -3px;
          left: -13px;
          width: 48px;
          height: 48px;
          border-radius: 100px;
          background-color: $warm-grey-two;
          z-index: -1;
        }
      }
    }
  }
}
.mobile-notifs {
  @include fontSize(14px);
  font-weight: 500;
  line-height: 150%;
  text-transform: none;
  height: 0;
  overflow: hidden;
  transition: $transition;

  ul {
    padding-top: 8px;
    padding-bottom: 25px;
  }

  &.opened {
    transition: $transition;
  }

  li {
    margin-bottom: calculateRem(19px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.notifs-show {
  &.active {
    span {
      display: none;
    }
  }
}
.menu-mobile__panels {
  &__inner {
    //margin-top: 18px;
  }
  &__block {
    display: none;

    &.active {
      display: block;
    }
  }
}
.mobile-search {
  input {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
    padding-right: 30px;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid $greyish;

    font-family: 'GMTypewriter', Arial, sans-serif;
    @include fontSize(19px);
    line-height: 168%;
    color: $black;
    text-transform: uppercase;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;

    @include placeholder {
      opacity: 0.2;
      font-family: 'GMTypewriter', Arial, sans-serif;
      @include fontSize(19px);
      line-height: 168%;
      color: $black;
      text-transform: uppercase;
    }
  }
  form {
    position: relative;
  }
  .close {
    position: absolute;
    right: 0;
    top: 7px;
    opacity: 0;
    z-index: -1;
    transition: $transition;

    &.show {
      opacity: 1;
      z-index: 9;
      transition: $transition;
    }
  }
}
.mobile-language {
  @include fontSize(19px);
  line-height: 253%;
  text-transform: uppercase;
  a.active {
    color: $violet-blue;
  }
}
.mobile-share {
  @include fontSize(19px);
  line-height: 253%;
  text-transform: uppercase;
}
.hide {
  display: none;
}
.notifications-badge {
  display: block;
  border-radius: 50%;
  @include fontSize(12px);
  line-height: calculateRem(15px);
  opacity: 1;
  text-align: center;
}
.main-controls-section-block {
  position: absolute;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid $warm-grey-two;
  z-index: -1;
  opacity: 0;
  visibility: hidden;

  &.opened {
    height: auto;
    opacity: 1;
    z-index: 1;
    visibility: visible;
  }
}

.search-block {
  left: 16px;
  border: none;
  visibility: visible;

  &.opened {
    z-index: 3;
    opacity: 1;
    left: -48px;
    transition: $transition;
    input {
      width: 360px;
      opacity: 1;
      transition: $transition;
    }
  }
  input {
    width: 0;
    height: 32px;
    padding-left: 15px;
    border-radius: 2px;
    border: solid 1px $white-two;
    line-height: 19px;
    @include fontSize(16px);
    color: #262626;
    font-family: 'GMTypewriter', Arial, sans-serif;
    //opacity: .6;
    opacity: 0;
    box-sizing: border-box;
    transition: $transition;
  }
  form {
    position: relative;
    button {
      position: absolute;
      right: 15.5px;
      top: 50%;
      margin-top: calculateRem(-9px);
      @include fontSize(20px);
      opacity: 0.6;
    }
  }
}

.notifications-block {
  left: -15px;
  width: calculateRem(285px);

  padding-left: calculateRem(14px);
  padding-right: calculateRem(14px);
  padding-top: calculateRem(45px);
  padding-bottom: calculateRem(30px);

  border: 1px solid $warm-grey-two;

  font-size: calculateRem(16px);
  font-weight: 500;

  ul {
    li {
      margin-bottom: calculateRem(19px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__link {
    span {
      display: block;
      color: $warm-grey-two;
      &:first-child {
        color: $greyish-brown-two;
      }
    }
  }
}

.language-block {
  left: -15px;
  width: calculateRem(82px);
  padding-right: calculateRem(35px);
  padding-top: calculateRem(40px);
  padding-bottom: calculateRem(20px);
  padding-left: calculateRem(14px);
  ul {
    li {
      text-transform: uppercase;
      line-height: calculateRem(21px);
    }
  }
  a {
    &:hover {
      color: $greyish-brown-two;
    }
  }
}

.settings-block {
  right: -14px;
  width: calculateRem(285px);
  padding-right: calculateRem(14px);
  padding-top: calculateRem(4px);
  padding-bottom: calculateRem(30px);
  padding-left: calculateRem(14px);

  &__primary {
    margin-top: 14px;
  }
  &__secondary {
    margin-top: 4px;
    @include fontSize(12px);
    line-height: 133%;

    li {
      position: relative;

      &:after {
        content: '';
      }
      &:last-child:after {
        display: none;
      }
    }
  }
  a, button {
    color: $warm-grey-two;

    &.active {
      color: $violet-blue;
    }
  }

}
.mobile-settings {
  &__primary {
    @include fontSize(19px);
    line-height: 253%;

    button {
      text-transform: uppercase;

      &.active {
        color: $violet-blue;
      }
    }
  }
  &__secondary {

  }
}

.share-block {
  right: -14px;
  width: calculateRem(285px);
  padding-top: calculateRem(4px);
  padding-bottom: calculateRem(21px);
  padding-left: calculateRem(14px);
  ul {
    margin-top: 12px;
  }
  a {
    &:hover {
      color: $greyish-brown-two;
    }
  }
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  //position: absolute;
  height: 100%;
  width: 100%;

  overflow: hidden;
  transition: all .5s ease-out;
  opacity: 0;

  z-index: -1;
  //visibility: hidden;
  box-sizing: border-box;

  &__inner {
    position: relative;
    height: 100%;
    width: calc(100% + 15px);
    box-sizing: border-box;
    padding-top: 32px;
    padding-right: 39px;
    padding-left: 24px;

    overflow: scroll;
  }
  .logo {
    margin-bottom: 30px;

    a {
      display: table;
    }
  }
  &__list {
    margin-bottom: 26px;
    @include fontSize(19px);
    line-height: 253%;
    text-transform: uppercase;
  }
  &__copyright {
    padding-bottom: 27px;
    @include fontSize(12px);
    font-weight: 500;
    line-height: 167%;

    &.absolute {
      position: absolute;
      bottom: 0;
    }
  }

  &.opened {
    //visibility: visible;
    z-index: 20;
    //transition: all .4s ease-in;
    opacity: 1;
  }

  &__controls {

  }

  .scrollable {

  }
}
.overflowHidden {
  overflow: hidden;
}

.logo {
  &--mobile {
    display: none;
  }
}

.footer {
  font-weight: 500;
  cursor: default;

  &__inner {
    padding-top: 68px;
    padding-right: 72px;
    padding-left: 72px;
    padding-bottom: 28.4px;

    &__top {
      padding-bottom: 72.5px;
      text-transform: uppercase;
      @include fontSize(19px);
    }
    &__bottom {
      padding-top: 66.6px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include fontSize(12px);
      line-height: 133%;

      .copyright, .rules {
        margin-bottom: 22px;
      }
      .copyright {
        width: 55%;
      }
    }
    &__list {
      li {
        margin-bottom: 22px;
      }
    }
  }
  a {
    transition: $transition;

    &:hover {
      color: $white-two;
      transition: $transition;
    }
  }

  .social-buttons {
    float: left;
    max-width: 300px;
    margin-top: 6px;
    font-size: 0;

    li {
      display: inline-block;
      margin-bottom: 24px;
      margin-right: 24px;

      .icon {
        @include fontSize(40px);
        color: inherit;
      }
    }
  }
  .quality-estimation {
    float: left;
    margin-top: 6.5px;
  }
}

.column-3-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .column {
    width: 33.33333%;
  }
}
.column-2-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  .column {
    width: 50%;
  }
}

.quality-estimation {
  width: 96px;
  height: 47px;
  display: flex;
  justify-content: space-between;
  padding-top: 6.5px;
  padding-left: 16.4px;
  padding-right: 16.4px;
  padding-bottom: 6.5px;
  border: solid 1px $brownish-grey;
  border-radius: 2px;
  font-size: 0;

  box-sizing: border-box;

  a {
    &:first-child {
      align-self: flex-start;
    }
    &:last-child {
      align-self: flex-end;
    }
  }
  .icon {
    font-size: 25px;
    color: inherit;
  }
}

.slick-slider {
  visibility: hidden;
  position: relative;

  &.slick-initialized {
    visibility: visible;
  }
}

.main-slider {
  margin-bottom: 68px;

  &__inner {
    position: relative;
  }
}

.slider {
  margin-bottom: 44px;
}
.slick-main{

  .slick-slide {
    position: relative;
    display: block;
    width: 984px;
    height: 608px;

    img {
      width: 100%;
    }

    .desc {
      position: absolute;
      top: 32px;
      left: 0;
      width: 100%;
      padding-left: 64px;
      padding-right: 64px;
      box-sizing: border-box;
      font-weight: 500;

      span {
        display: block;
      }
      &__name {
        margin-bottom: 13.3px;
        @include fontSize(48px);
      }

      &__date,
      &__place {
        @include fontSize(24px);
        line-height: 133%;
        text-transform: uppercase;
        opacity: .8;
      }
    }
  }
}

.main-slider-info {
  width: 984px;
  margin-top: 32px;
  @include push--auto;
}
.main-slider-info--title {
  margin-top: 24px;
  @include fontSize(14px);
  font-weight: 500;
  line-height: 1.5;
  color: #939393;
  min-height: 42px;
}

.slick-arrow {
  position: absolute;
  width: 48px;
  height: 264px;
  top: 0;
  background-color: rgba(38, 38, 38, 0.5);
  z-index: 2;
  color: $pale-grey;
  font-size: 0;

  &:before {
    font-size: 45px;
  }
}
.slick-next {
  right: 0;
}
.slick-prev {
  left: 0;
}
.slick-main--with-arrows {
  .slick-arrow {
    position: absolute;
    width: 48px;
    height: 264px;
    top: 50%;
    margin-top: -132px;
    background-color: transparent;
    z-index: 2;
    color: $pale-grey;

    &:before {
      font-size: 45px;
    }
  }
  .slick-next {
    right: 60px;
  }
  .slick-prev {
    left: 60px;
  }
}
.slick-dots {
  position: absolute;
  bottom: 9px;
  width: 100%;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    button {
      width: 70px;
      height: 4px;
      margin-bottom: 12px;
      padding: 0;
      opacity: 0.5;
      background-color: $pale-grey;
      border: none;
      font-size: 0;
      transition: $transition;
    }

    &.slick-active {
      button {
        opacity: 1;
        transition: $transition;
      }
    }
  }
}



.slick-slide {
  outline: none;
}
.multiple-items-slider {
  font-size: 0;

  .item {
    width: 264px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    .desc {
      .btn-centered {
        margin-bottom: 39px;
      }
    }
  }
  .slick-arrow {
    transition: $transition;
  }
  .slick-disabled {
    z-index: -1;
    opacity: 0;
    transition: $transition;
  }
}

.item--card {
  margin: 0 12px;
  display: inline-block;
  vertical-align: top;

  img {
    //filter: grayscale(100%);
    transition: $transition;
    box-sizing: border-box;
  }

  .desc {
    padding-top: 21px;
    color: $warm-grey-two;
    transition: $transition;
    padding-bottom: 22px;

    &__date {
      margin-bottom: 20.2px;
      padding: 0 11px;
      @include fontSize(28px);
      font-weight: 300;
    }

    &__type {
      margin-bottom: 11px;
      padding: 0 16px;
      display: inline-block;
      @include fontSize(16px);
      font-weight: 500;

      span {
        border-bottom: solid 1px $warm-grey-two;
        display: inline;
        padding-bottom: 2px;
        text-transform: uppercase;
      }
    }
    &__place {
      display: inline-block;
      margin-bottom: 36px;
      padding: 0 17px;
      @include fontSize(12px);
      font-weight: 500;
      letter-spacing: 0.1px;

      span {
        border-bottom: solid 1px $warm-grey-two;
        display: inline;
        padding-bottom: 2px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
    &__details {
      margin-bottom: 22px;
      padding-left: 16px;
      padding-right: 19px;
      @include fontSize(14px);
    }

    &__title {
      display: inline-block;
      @include fontSize(16px);
      margin-bottom: 9px;
      font-weight: 500;
      padding-left: 16px;
      padding-right: 19px;
    }
    &__amount {
      @include fontSize(16px);
      font-weight: 500;
      padding-left: 16px;
      padding-right: 19px;
    }
    &__link {
      display: inline-block;
      @include fontSize(14px);
      padding-left: 15px;
      padding-right: 19px;

      span {
        border-bottom: solid 1px $warm-grey-two;
        display: inline;
        padding-bottom: 2px;
      }
    }
    &__extra {
      margin-top: 20px;
      padding-left: 14px;
      padding-right: 12px;
      @include fontSize(14px);
      line-height: 150%;
    }
    p {
      margin-bottom: 14px;
      padding-left: 16px;
      padding-right: 19px;
      @include fontSize(24px);
      line-height: 117%;
    }
  }

  .collection__section-name {

  }
}
.item--card--bigger {
  .desc {
    p {
      @include fontSize(28px);
      line-height: 104%;
    }
  }
}
.item--bordered {
  border: 2px solid transparent;
  transition: border .2s ease;
  .desc {
    padding-top: 0;
  }
  img {
    padding: 16px;
  }
}

.section {

  &--collection {
    margin-bottom: 94px;
  }
  &--afisha {
    margin-bottom: 89px;
  }
  &--media {
    margin-bottom: 111px;
  }
  &--museum {
    margin-bottom: 111px;
  }
  &--visitors {
    margin-bottom: 97px;

    .section__header__controls {
      margin-bottom: 36px;
    }
  }
  &--friends {
    margin-bottom: 111px;
  }
  &--shop {
    margin-bottom: 72px;
  }
  &--extra {
    margin-bottom: 111px;
  }
  &--gallery {
    margin-bottom: 57px;
  }
  &--partners {
    margin-bottom: 110px;

    .column-wrap {
      display: flex;
      flex-wrap: wrap;
      padding-top: 28px;
      padding-left: 8px;
      padding-right: 8px;
      .column {
        width: 25%;
        margin-bottom: 28px;
        padding: 0 20px;
        box-sizing: border-box;
        white-space: normal;

        .head {
          min-height: 42px;
          margin-bottom: 22px;
        }
        .pics {
          a {
            display: inline-block;
            vertical-align: top;
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
          }
          img {
            max-width: 100%;
          }
        }
      }
    }


  }
  &--collections {
    margin-bottom: 31px;
  }
  &--collections-filters {
    margin-bottom: 111px;
  }
  &--grid {
    margin-bottom: 111px;
  }
  &__inner {
    position: relative;
  }

  &--limited {
    max-width: 1272px;
    @include push--auto;
    box-sizing: border-box;
  }

  &__header {
    text-align: center;

    h2 {
      margin: 0;
      margin-bottom: 44px;
      font-weight: 400;
      @include fontSize(43px);
      text-transform: uppercase;
    }

    &__controls {
      margin-bottom: 54px;
      font-size: 0;
      overflow: hidden;


      ul {
        display: inline-block;
        overflow: hidden;
        transition: all .5s linear;
        vertical-align: top;
      }
      li {
        display: inline-block;
        margin-right: 7px;

        &:last-child {
          margin-right: 0;
        }
      }
      a {
        transition: $transition;

        &.active {
          color: $pale-grey;
          background-color: $warm-grey-two;
          transition: $transition;
        }
      }

      .scroller {
        display: block;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        margin-bottom: -30px;
        padding-bottom: 30px;

        -webkit-overflow-scrolling: touch;

        &-wrap {
          overflow: hidden;
        }

        &--p {
          padding-left: 24px;
          padding-right: 24px;
        }
      }
    }
  }

  &--info {
    margin-bottom: 111px;
    .section__description {
      margin-top: 0;
    }
  }
  &__description {
    max-width: 960px;
    margin-top: -22px;
    margin-bottom: 72px;
    p {
      @include fontSize(24px);
      line-height: 150%;
      font-family: 'GMText', Arial, sans-serif;
    }
    .btn--more-text {
      margin-top: 12px;
    }
  }

  &--banner {
    margin-bottom: 61px;
    img {
      width: 100%;
    }
  }
  &--with-filters {
    margin-bottom: 110px;
  }
}

.controls-spec {
  cursor: pointer;
  vertical-align: top;
}
.null-width {
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}
.full-width {
  position: static;
  z-index: 1;
  opacity: 1;
  width: 0;
}





.section--4-column {
  .section__inner {
    padding-left: 72px;
    padding-right: 72px;
  }
  .column-wrap {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 25%;
    padding: 0 12px;
    margin-bottom: 58px;
  }
}

.padding {
  padding-left: 72px;
  padding-right: 72px;
}

.section--with-filters {

  &__filter {

    &.opened {
      margin-bottom: 61px;

      .section--with-filters__filter__inner {
        height: 32px;
        margin-top: -9px;
        transition: $transition;
      }
    }
    &__inner {
      display: flex;
      justify-content: center;
      height: 0;
      overflow: hidden;
      transition: $transition;
    }

    .select {
      width: 120px;
      margin: 0 12px;
      font-weight: 500;
      letter-spacing: 1.1px;
      color: $white-two;
    }

    &__categories {
      margin-bottom: 80px;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .select {
        display: none;
        width: 176px;
        margin-left: 24px;
      }

      .btn {
        margin-top: 24px;
        margin-right: 12px;
        margin-left: 12px;

        &.active {
          background-color: $warm-grey-two;
          color: $white-two;
        }
      }
    }
  }

  .btn--more {
    margin-top: 72px;
    margin-bottom: 22px;
  }
  .show-all {
    margin-bottom: 29px;
    @include fontSize(14px);
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.select2-container {
  outline: none;
  text-align: left;
  .select2-selection {
    height: 32px;
    border-radius: 2px;
    background-color: $warm-grey-two;
    border: 1px solid $warm-grey-two;
    border-bottom: none;
    outline: none;


  }
  .select2-selection .select2-selection__rendered {
    color: $white-two;
    padding-left: 14px;
  }
}
.select2-dropdown {
  border-radius: 2px;
  border: solid 1px $warm-grey-two;
  color: $warm-grey-two;
  padding-top: 5px;
  padding-left: 14px;
  padding-bottom: 22px;
  padding-right: 11px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: $greyish-brown-two;
  background-color: transparent;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: transparent;
}
.select2-results__option {
  padding: 0;
  font-weight: 500;
  line-height: 119%;
  letter-spacing: 1.1px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 11px;
  right: 16px;
  height: 10px;
  width: 11px;
  font-size: 10px;
  b {
    display: none;
  }
}
.select2-container--default .select2-selection__rendered .select2-selection__placeholder {
  text-transform: uppercase;
  color: $white-two;
}
.select2-container--open {
  .select2-selection {
    background-color: #fff;
    .select2-selection__rendered {
      color: $greyish-brown-two;
    }
  }
  .select2-selection__arrow {
    transform: rotate(180deg);
    color: $greyish-brown-two;
  }
  .select2-selection__rendered .select2-selection__placeholder {
    text-transform: uppercase;
    color: $greyish-brown-two;
  }
}




/*----- Accordion start -----*/
.accordion, .accordion *,
.accordion--mobile, .accordion--mobile * {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.accordion--mobile {
  overflow:hidden;
  .accordion__item {
    display: inline-block;
  }

}

/*----- Section Titles -----*/
.accordion-section-title {
  display: flex;
  justify-content: space-between;
  width:100%;
  padding: 15px;
}

.accordion-section-title.active, .accordion-section-title:hover {

}
.accordion-title {
  cursor: default;
}
/*----- accordion Section Content -----*/
.accordion-content {
  display:block;

  &.maxHeight {
    max-height: 100% !important;
  }
}


/*----- Accordion end-----*/


.section--collection {

  .btn-wrap {
    .btn {
      margin-right: 46px;
    }
  }
  .btn--more {
    margin-bottom: 16px;
    margin-top: 67px;
  }

  .item--card .desc {
    padding-bottom: 0;
  }
}

.section--ratio {
  .section__inner {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.wr-link {

  .icon-wr {
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -50px;
      font-size: 100px;
      color: rgba(249, 249, 251, 0.4);
      transition: $transition;
    }

    &:hover {
      &:before {
        color: rgba(249, 249, 251, 1);
        transition: $transition;
      }
    }
  }

  a {
    display: block;
  }
  img {
    width: 100%;
  }
}

.item-styles {
  white-space: normal;
  &__header {
    margin-bottom: 18px;
    @include fontSize(24px);
    line-height: 133%;
    color: #939393;
    text-transform: uppercase;
    text-align: left;
    transition: $transition;
  }

  &__content {
    font-weight: 500;
    line-height: 131%;
    color: $warm-grey-two;
    transition: $transition;

    p {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        display: inline-block;
        span {
          border-bottom: solid 1px $warm-grey-two;
          display: inline;
          padding-bottom: 2px;
        }
      }
    }
  }

  &__building {
    height: 244px;
    margin-bottom: 40px;
    display: flex;
    svg {
      width: 100%;
      align-self: flex-end;
    }
  }
  .building-path {
    fill: #fff;
    transition: fill .2s;
  }

  &:hover {
    .item-styles__header {
      color: $greyish-brown-two;
      //transition: $transition;
    }
    .item-styles__content {
      color: $greyish-brown-two;
      //transition: $transition;

      a {
        color: $violet-blue;
        span {
          border-bottom: 1px solid $violet-blue;
          transition: $transition;
        }
      }

    }

    .building-path {
      fill: $white-two;
      transition: fill .2s;
    }


  }
}

.block-buildings {
  padding-left: 72px;
  padding-right: 72px;

  .column-wrap {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 25%;
    padding: 0 12px;
    margin-bottom: 70px;
    box-sizing: border-box;
  }
}

.typical-accordion {
  .accordion-control {
    @include fontSize(24px);
    font-weight: 500;
    line-height: 202%;
    letter-spacing: 0.2px;
    color: $warm-grey-two;
    text-transform: uppercase;
    cursor: pointer;
    text-align: left;
    transition: $transition;

    span {
      display: inline;
      border-bottom: 1px solid transparent;
    }
  }
}

.section--shop {

  .section__inner {
    padding-left: 64px;
    padding-right: 64px;
  }
  &__wrapper {
    font-size: 0;
    margin: 0 -4px;

    &__item {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      padding: 0 4px;
      box-sizing: border-box;
    }
  }
  .btn {
    margin-top: 72px;
  }
}

.item--shop {
  text-align: center;

  img {
    max-width: 264px;
  }

  &__inner {
    padding-bottom: 32px;
  }

  .desc {
    margin-top: 26px;
    padding: 0 18px;
    @include fontSize(14px);
    line-height: 150%;
    white-space: normal;

    &__type {
      display: inline-block;
      margin-bottom: 6px;
      text-transform: uppercase;
      transition: $transition;

      span {
        display: inline;
        border-bottom: 1px solid $warm-grey-two;
      }
    }
    .btn {
      margin-top: 27px;
    }
  }
}

.preloader {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  text-align: center;

  span {

  }
}
//.tabs {
//  position: relative;
//}
//.tab {
//  top: 0;
//  position: absolute;
//
//  &.active {
//    position: static;
//  }
//}

.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}

.grid--afisha {

}
.grid {
  margin: 0 -12px;

  .grid-item {
    padding: 0 12px;
    box-sizing: border-box;
  }
  .item--card {
    margin: 0;
    margin-bottom: 24px;

    img {
      width: 100%;
    }
  }
}
.grid--4-columns {
  .grid-item, .grid-sizer {
    width: 25%;
  }
}
.grid--3-columns {
  .grid-item, .grid-sizer {
    width: 33.33333%;
  }
}

.columns-2-section {
  @include push--auto;
  box-sizing: border-box;
  margin-bottom: 110px;

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-left: -12px;
    margin-right: -12px;
    box-sizing: border-box;

    &__left {
      width: 66.66666667%;
      padding-right: 12px;
      padding-left: 12px;
      box-sizing: border-box;
    }

    &__right {
      width: 25%;
      padding: 0 12px;
      padding-top: 10px;
      box-sizing: border-box;
    }

    .item--shop {
      margin: 0 -4px;
    }
  }
  h1 {
    margin-bottom: 45px;
  }
  .description {
    margin-bottom: 9px;
  }
  .btn-wrap {
    margin-bottom: 31px;
    font-size: 0;

    .btn {
      margin-right: 46px;
      margin-bottom: 15px;
    }
  }
  .font-gmtext {
    p {
      @include fontSize(24px);
      line-height: calculateRem(36px);
      margin-bottom: calculateRem(50px);
    }
  }
  .age-limited {
    margin-top: 19px;
    margin-bottom: 48px;
  }

  .wrapit {
    max-height: 0;
    overflow: hidden;

    &.show {
      max-height: 100%;
    }
  }

  .more-text {
    display: block;
    margin-top: 16px;

    &.hide {
      display: none;
    }
  }

}
.mobile--view {
  display: none;
  .description__date {
    margin-bottom: 39px;
  }
  .item--shop {
    max-width: 272px;
    @include push--auto;
    margin-top: 79px;
  }
}
h1 {
  @include fontSize(48px);
  font-weight: 500;
  color: $greyish-brown;
  margin: 0;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.age-limited {
  &__badge {
    display: table;
    width: calculateRem(35px);
    height: calculateRem(35px);
    border-radius: 50%;
    border: 1px solid #939393;
    color: #939393;
    text-align: center;

    span {
      display: table-cell;
      vertical-align: middle;
      @include fontSize(14px);
      font-weight: 500;
    }
  }
}





.description-hover:hover {
  color: $violet-blue;

  span {
    border-bottom: solid 1px $violet-blue;
  }
}

.text-6 {
  @include fontSize(14px);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  color: $warm-grey-two;
}
.link-text-hint {
  display: inline-block;
  margin-top: 15px;
}
.section--grid {
  &__wrapper {
    display: flex;
    margin: 0 -12px;
    margin-bottom: 45px;

    .grid-item {

      width: 33.33333%;
      //padding: 0 12px;
    }
    .item {
      transition: $transition;
      box-sizing: border-box;
      margin-bottom: 24px;
      .desc {
        padding-top: 18px;
        padding-bottom: 30px;
      }
      img {
        width: 100%;
        display: block;
      }
    }
  }
  .btn--more {
  }
}

.full-page-background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 81, 81, 0.8);
  }

  &__inner {
    position: relative;
    text-align: center;
    padding: 0 24px;
  }
  &__title {
    position: absolute;
    bottom: 27px;
    left: 72px;
    color: #a8a8a8;
  }
}
.page-404 {
  h1 {
    color: inherit;
    @include fontSize(43px);
    font-weight: 500;
    line-height: 130%;
  }
  .btn--go-back {
    margin-top: 62px;
  }
}

//lightgallery start
.lg-backdrop.in {
  opacity: .8;
}
.lg-on {
  overflow: hidden;
}
.lg-toolbar {
  background-color: transparent;
  top: 16px;
  left: auto;
  right: 16px;

  .lg-close {
    width: 30px;
    height: 30px;
    color: #fff;

    &:after, &:before  {
      content: '';
      background-color: $warm-grey;
      transition: $transition;
    }

    &:hover {
      &:after, &:before {
        background-color: #fff;
        transition: $transition;
      }
    }
  }
}
.lg-actions {
  .lg-next, .lg-prev {
    font-size: 42px;
    color: $greyish-brown-two;
    background-color: transparent;
  }
  .lg-next {
    right: 5px;
  }
  .lg-prev {
    left: 5px;
  }
}
.lg-outer {
  .lg-pager-thumb-cont {
    display: none;
  }
  .lg-img-wrap {
    padding-bottom: 95px;
  }
  .lg-pager-outer {
    display: none;
    bottom: 20px;
    height: auto;

    .lg-pager {
      width: 62px;
      height: 3px;
      margin: 10px 0;
      border-radius: 0;
      background-color: $pale-grey;
      opacity: .5;
    }
  }
  .lg-pager-cont {
    margin: 0 4px;
  }
  .lg-pager-active {
    .lg-pager {
      opacity: 1;
    }
  }
  .lg-sub-html {
    padding-bottom: 27px;
    padding-top: 0;
    padding-left: 70px;
    padding-right: 40px;
    text-align: left;
    @include fontSize(14px);
    font-weight: 500;
    line-height: 150%;
    color: #939393;
    background-color: transparent;
    z-index: 99999;

    &__inner {
      position: absolute;
      bottom: 24px;
      left: 0;
      visibility: hidden;
      opacity: 0;
      background-color: #a4a4a5;
      width: 100%;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 43px;
      padding-top: 32px;
      color: $pale-grey;
      transition: $transition;
      z-index: -1;



      &.show {
        visibility: visible;
        opacity: 1;
        z-index: 1;
      }

      .close {
        position: absolute;
        top: 12px;
        right: 12px;
        &:before, &:after {
          background-color: #fff;
        }
      }
    }
    &__badge {
      position: absolute;
      right: 20px;
      bottom: 70px;
      @include fontSize(24px);
      font-weight: 500;
      line-height: 88%;
      color: $pale-grey;
    }

    &__head {
      margin-bottom: 11px;
      text-transform: uppercase;
    }
  }
  &:before {

  }
  &.lg-outer-back {

    .lg-inner:after, .lg-inner:before {
      opacity: 0;
      transition: $transition;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      z-index: 1070;
      background-color: rgba(38, 38, 38, 0.55);
      opacity: 1;
      transition: opacity .2s ease;
    }
  }
}
//lightgallery end

.section--collections {

  &__name {
    display: block;
    padding: 0 15px;
    padding-top: 12px;
    padding-bottom: 29px;
    @include fontSize(19px);
    font-weight: 500;
    line-height: 111%;
    letter-spacing: 1px;
    color: $warm-grey-two;
    text-transform: uppercase;
  }


}
.collections__common-text {
  margin-bottom: 108px;
  margin-top: 40px;
  p {
    @include fontSize(19px);
    font-weight: 500;
    line-height: 111%;
    letter-spacing: 1px;
  }
}

.section--collections-filters {
  .section__header__controls {
    margin-bottom: 29px;
  }
  .btn--more {
    margin-top: 66px;
  }
}

.filters-alphabet-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;

  a {
    @include fontSize(43px);
    font-weight: 300;
    line-height: 100%;
    color: $warm-grey-two;
    text-transform: uppercase;
    transition: $violet-blue;

    &:hover {
      color: $violet-blue;
      transition: $violet-blue;
    }

    &.active {
      color: $violet-blue;
      background-color: transparent;
    }
  }
}

.items-list {
  @include fontSize(14px);
  font-weight: 500;
  line-height: 171%;

  a {
    transition: $transition;
    &:hover {
      color: $violet-blue;
      transition: $transition;
    }
  }
}


.svg-appstore {
  margin-left: 16px;
  margin-top: 19px;
  width: 112px;
  height: 32px;
  display: inline-block;
  background: url("../images/svg/appstore.svg");
  background-repeat: no-repeat;

}

.normalize-margin {
  margin-top: 10px;
}

.filters-collections {
  .select {
    width: 360px;
  }
}

.item-text {
  .btn--more-text {
    margin-top: 16px;
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.mobile--view {
  .item-description {
    margin-bottom: 44px;
  }
}
.item-description {
  line-height: 150%;
  @include fontSize(14px);

  .description {
    margin-bottom: 1rem;

    &__building {
      display: block;
      margin-top: 43px;
      width: 100%;
      margin-bottom: 27px;
      text-align: center;

      img {
        max-width: 170px;
      }
    }
  }
  .btn--more-text {
    @include fontSize(14px);
  }

  &--popup {

    &__call {
      position: fixed;
      bottom: 24px;
      right: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 72px;
      height: 72px;
      border-radius: 50%;
      background-color: $warm-grey-two;
      z-index: 999;

      img {
        max-width: 40px;
      }
    }

    &__inner {
      position: fixed;
      max-height: 606px;
      overflow-y: scroll;
      padding: 0 16px;
      padding-bottom: 5px;
      margin: 0 16px;
      //visibility: hidden;
      background-color: #a4a4a5;
      bottom: 0;
      left: 0;
      z-index: 999;
      transform: translateY(100%);
      transition: $transition;
      opacity: 0;

      &.open {
        transform: translateY(-24px);
        opacity: 1;
      }

      .close {
        position: absolute;
        right: 12.5px;
        top: 12.5px;
        &:before, &:after {
          background-color: $pale-grey;
        }
      }
    }
  }
}

.slider--collection-item {
  position: relative;
  margin-bottom: 87px;
  background-color: $black;
}

.slick--slider-collection-item {
  .slick-slide {
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
  }
  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }
  .slick-dots {
    bottom: -42px;

    li {

      button {
        background-color: $white-two;
        opacity: 1;
      }

      &.slick-active {
        button {
          background-color: #939393;
        }
      }
    }
  }
}

.dz-iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% + 55px);
  width: 100%;
  z-index: -1;

  &.open {
    z-index: 99;
  }

  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    &:after, &:before {
      background-color: $pale-grey;
    }
  }
}

.col-8 {
  width: 66.66666667%;
}


@import "partials/contrast";
@import "partials/media";